<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<h1>Data Analysis</h1>

<form action="/facecream" method="get">
    <label>Face Cream</label>
    <button type="submit">Analysis</button>
</form>

<form action="/facewash" method="get">
    <label>Face Wash</label>
    <button type="submit">Analysis</button>
</form>

<form action="/toothpaste" method="get">
    <label>Toothpaste</label>
    <button type="submit">Analysis</button>
</form>

<form action="/bathingsoap" method="get">
    <label>BathingSoap</label>
    <button type="submit">Analysis</button>
</form>

<form action="/shampoo" method="get">
    <label>Shampoo</label>
    <button type="submit">Analysis</button>
</form>

<form action="/moisturizer" method="get">
    <label>Moisturizer</label>
    <button type="submit">Analysis</button>
</form>


</body>
</html>